@charset "utf-8";
:Root {
  Font: Medium / 1.25 Avenir, "Century Gothic", Sans-Serif;
  --UCSBNavy: #003660;
  --UCSBGold: #FEBC11;
  --UCSBLightGrayDarken80: #111517;
  --UCSBLightGray: #DCE1E5;
  --UCSBLightLightGray: #EEF0F1;
  --UCSBWhite: #FFFFFF;
  --UCSBSeaGreenWeb: #09847A;
  --UCSBAquaWeb: #047C91;
  --UCSBMossWeb: #6D7D33;
  --UCSBCoral: #EF5645;
  --UCSBDarkCoral: #C43424;
  --UCSBClay: #DCD6CC;
  --UCSBLightClay: #F1EEEA;
  --UCSBSandstone: #C9BF9D;
  --UCSBLightSandstone: #EDEADF;
  --UCSBMist: #9CBEBE;
  --UCSBLightMist: #DAE6E6;
  --UCSBText: #3D4952;
}

/* Basic Styling */
iframe {
  Block-Size: 24.6EM;
  Inline-Size: 100%;
}
p {
  Margin: 0;
  Text-Align: Justify;
}
p+p {
  Text-Indent: 1.5EM;
}
p+p>* {
  Text-Indent: 0;
}
:Any-Link{ Color: Var(--UCSBNavy) }
:Any-Link:Active{ Color: Var(--UCSBDarkCoral) }
/* > Markèd Importance */
strong.MARK {
  Border: Thin Var(--UCSBSandstone) Solid;
  Color: Var(--UCSBNavy);
  Background: Var(--UCSBLightSandstone);
  Font-Weight: Inherit;
}
/* > Parentheticals */
span.PARENTHETICAL {
  Color: Var(--UCSBNavy);
  Background: Var(--UCSBLightMist);
}
/* > “So‐Called” Text */
i.SO-CALLED {
  Font-Style: Inherit;
}
i.SO-CALLED::before {
  Content: Open-Quote;
}
i.SO-CALLED::after {
  Content: Close-Quote;
}

/* Blockquotes */
blockquote {
  Margin-Block: 1EM;
  Margin-Inline: 0;
  Border: Thin Var(--UCSBAquaWeb) Solid;
  Padding-Block: 1EM;
  Padding-Inline: 2EM;
  Color: Var(--UCSBNavy);
  Background: Var(--UCSBLightMist);
}
blockquote mark {
  Border: Thin Var(--UCSBLightLightGray) Solid;
  Background: Var(--UCSBLightLightGray);
}
blockquote p+p {
  Margin-Block-Start: 1EM;
  Text-Indent: 0;
}
/* > Blockquote Quotes */
blockquote {
  Position: Relative;
}
blockquote::before,
blockquote::after {
  Position: Absolute;
  Inline-Size: 1.6EM;
  Color: Var(--UCSBSeaGreenWeb);
  Font-Size: 1.25EM;
  Font-Weight: Bold;
  Text-Align: Center;
}
blockquote::before {
  Inset-Block-Start: .8EM;
  Inset-Inline-Start: 0;
  Content: Open-Quote;
}
blockquote::after {
  Inset-Block-End: .8EM;
  Inset-Inline-End: 0;
  Content: Close-Quote;
}

/* Figures */
figcaption {
  Margin-Block: 0 -.5EM;
  Margin-Inline: 1EM;
  Border-Block-Style: None Dotted;
  Border-Inline-Style: Dotted;
  Border-Width: Thin;
  Padding-Block: 0 .5EM;
  Padding-Inline: 1EM;
}
figcaption>p:First-Of-Type {
  Margin-Block-Start: .5EM;
}
figure {
  Margin-Block: 1EM;
  Margin-Inline: 0;
  Text-Align: Center;
}
figure>img {
  Display: Block;
  Margin: Auto;
  Max-Inline-Size: 100%;
}

/* Headers/Footers */
footer,
header {
  Padding-Block: .369EM;
  Font-Size: Smaller;
}
footer>p,
header>p {
  Margin-Block: .369EM;
  Text-Align: Inherit;
}
footer {
  Margin-Block: 1.23EM 0;
  Border-Block-Start: Thin Solid;
  Text-Align: End;
}
article>h1,
header {
  Margin-Block: 0 1.23EM;
  Border-Block-End: Thin Solid;
  Text-Align: Start;
}
article>h1 {
  Padding-Block: .369EM;
}

/* Headings */
h1 {
  Margin-Block: 0;
  Font-Size: X-Large;
  Font-Weight: Bold;
  Line-Height: 1.15;
}
h1 small {
  Display: Block;
  Font-Size: Large;
  Font-Weight: Normal;
  Line-Height: 1.15;
}
h1 small::before {
  Content: "☞ ";
}
h1 small>strong {
  Margin: -2PX;
  Border: 2PX Var(--UCSBGold) Solid;
  Box-Shadow: -2PX 2PX Var(--UCSBGold);
}
h2 {
  Margin-Block: 0 .5EM;
  Font-Size: Large;
  Font-Weight: Bold;
  Line-Height: 1.15;
}
h2::before {
  Display: Block;
  Margin-Block: 2EM;
  Color: Var(--UCSBMist);
  Font-Size: Medium;
  Font-Weight: Normal;
  Text-Align: Center;
  Content: "☆ ☆ ☆";
}
header+nav>h2:First-Child::before,
header+section>h2:First-Child::before,
h1+nav>h2:First-Child::before,
h1+section>h2:First-Child::before,
header+h2::before,
h1+h2::before {
  Margin-Block-End: 0;
  Content: "";
}
h3 {
  Margin-Block: 1.5REM 1REM;
  Font-Size: Large;
  Font-Style: Italic;
  Font-Weight: Inherit;
  Text-Decoration: Underline;
  Text-Decoration-Style: Double;
  Line-Height: 1.15;
}
h2+h3 {
  Margin-Block-Start: .75REM;
}

/* Link Previews */
a.PREVIEW {
  Display: Block;
  Margin-Block: 1EM;
  Border-Block-Style: Solid Dashed;
  Border-Inline-Style: Solid Dashed;
  Border-Width: Thin;
  Border-Radius: .2EM;
  Padding: 1EM;
  Color: Inherit;
  Box-Shadow: 2PX 2PX CurrentColor;
  Text-Decoration: None;
}
a.PREVIEW>*:First-Child {
  Margin-Block-Start: 0;
}
a.PREVIEW>*:Last-Child {
  Margin-Block-End: 0;
}
a.PREVIEW>cite {
  Display: Block;
  Margin-Block: .4EM;
  Font-Size: 1.25EM;
  Font-Style: Inherit;
  Font-Weight: Bold;
  Line-Height: 1.15;
  Text-Decoration: Underline;
}
a.PREVIEW>p {
  Margin-Block: .5EM;
  Font-Style: Italic;
}
a.PREVIEW>p+p {
  Text-Indent: 0;
}
a.PREVIEW time {
  Font-Weight: Bold;
}

/* Notes */
aside,
div[role=note] {
  Margin-Block: 1EM;
  Border: Thin Dashed;
  Padding: 1EM;
}
aside {
  Border-Color: Var(--UCSBLightGray);
  Background: Var(--UCSBLightLightGray);
}
div[role=note] {
  Border-Color: Var(--UCSBSandstone);
  Color: Var(--UCSBNavy);
  Background: Var(--UCSBLightSandstone);
}

/* Ordered/Unordered Lists */
ol,
ul {
  Margin-Block: 1EM;
  Padding-Inline-Start: 2EM;
}
ol>li,
ul>li {
  Margin-BLock: 1EM 0;
}
/* > List-Paragraphs */
ol.PARAGRAPH,
ul.PARAGRAPH {
  Margin-Block: .5EM 0;
  Margin-Inline: -1PX 0;
  Border-Inline-Start: 1PX Dotted;
}
ol.PARAGRAPH>li,
ul.PARAGRAPH>li {
  Margin-Block: .5EM;
}

/* Preformatted Text */
pre {
  Margin-Block: 1EM;
  Margin-Inline: Auto;
  Border: .5CH Var(--UCSBGold) Solid;
  Padding-Block: 1EM;
  Padding-Inline: 2CH;
  Color: Var(--UCSBLightClay);
  Background: Var(--UCSBNavy);
  Max-Inline-Size: Calc(100% - 3CH);
  Font-Family: Monospace;
  Text-Align: Start;
  Overflow: Auto;
}
pre *:Link,
pre *:Visited {
  Color: Var(--UCSBLightMist);
}
pre code {
  Color: Var(--UCSBLightSandstone);
}
pre em,
pre strong {
  Color: Var(--UCSBWhite);
}
pre small {
  Font: Inherit;
  Color: Var(--UCSBSandstone);
}

/* Page Layout */
html {
  Color: Var(--UCSBWhite);
  Background: Var(--UCSBNavy);
}
body {
  Display: Flow-Root;
  Margin: 0;
}
body>header {
  Display: Grid;
  Grid-Auto-Flow: Column;
  Grid-Template-Columns: Max-Content;
  Margin-Block: 0;
  Border-Block-End: Medium Var(--UCSBGold) Solid;
  Padding-Block: .5EM;
  Padding-Inline: 1CH;
  Justify-Items: End;
  Gap: 1.5EM;
  Color: Inherit;
  Font-Size: Large;
  Line-Height: 1.15;
}
body>header>* {
  Margin-Block: Auto;
}
body>header>*:First-Child {
  Max-Inline-Size: Calc(40VW - 1.25EM);
  Min-Inline-Size: Min-Content;
}
body>header>nav {
  Font-Size: Larger;
}
body>header small {
  Display: Block;
}
body>header strong {
  Font-Size: Larger;
  Font-Weight: Inherit;
}
body>header *:Any-Link {
  Color: Inherit;
}
article {
  Margin-Block: 2EM;
  Margin-Inline: Auto;
  Border-Inline: 2PX Var(--UCSBNavy) Solid;
  Padding: 3EM;
  Max-Inline-Size: 43EM;
  Color: Var(--UCSBText);
  Background: Var(--UCSBWhite);
  Box-Shadow: -3PX 0 Var(--UCSBGold), 3PX 0 Var(--UCSBGold);
}
body>article>footer {
  Margin-Block-End: 1.85EM;
  Padding-Block-End: 0;
}
body>article>header {
  Margin-Block-Start: 1.85EM;
  Padding-Block-Start: 0;
}
body>article>header>time {
  Display: Block;
  Margin-Block: .369EM;
  Text-Align: Right;
}
body>article>nav+p,
body>article>section+p {
  Margin-Block: 2EM 0;
  Margin-Inline: -3EM;
  Border-Block-Start: Thin Dashed;
  Padding-Block: 2EM 0;
  Padding-Inline: 3EM;
}

/* Tables */
table {
  Table-Layout: Fixed;
  Margin-Block: 1REM;
  Border-Collapse: Collapse;
  Width: 100%;
}
thead>tr:Last-Child>* {
  Border-Block-End: Thin Solid;
}
tr>* {
  Border-Inline-Start: Thin Solid;
  Padding: .25EM;
  Text-Align: Center;
}
tr>*:First-Child {
  Border-Inline-Start-Style: Hidden;
}
